{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome Dr. {{ user.first_name }} {{ user.last_name }}</h1>
    <p>You are logged in as <strong>Doctor</strong>.</p>

    <h3>Blog Options</h3>
    <ul>
        <li><a href="{% url 'blog_create' %}">✍️ Create a New Blog</a></li>
        <li><a href="{% url 'my_blogs' %}">📑 View My Blogs</a></li>
    </ul>

    <p><a href="{% url 'logout' %}">Logout</a></p>
</body>
</html>
